<!DOCTYPE html>
<html>
<head>
  <title>Welcome to DateTracks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30428311-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  	<div id="banner">
    	<h1 id="banner-logo">DateTracks</h1>
  	</div>
  	<div id="display">
    	<div id="fb_box">
    	  <h1 id="name-logo">DateTracks</h1>
    	  <h2>A new way to listen<br>and discover<br>the world around you</h2>
    	  <br />
    	  
    	  <!-- <a class="classname"><%= link_to "Sign in with Facebook", "/auth/facebook" %></a>
    	         <p><%= link_to "Sign in with Facebook", "/auth/facebook" %></p> -->
    	  <hr />
    	  <p id="update">Private Beta access is invitation only</p>
    	</div>
    	
      <!-- <a href="#" class="classname">RSVP with Facebook now!</a> -->
    	
  	</div>
  
  	<div id="media-block">
    	<h2>Thanks for attending Code Academy Demo Day. <br>Want to help us build Chicago? Start with the links below. </h2> 
  	</div>

  	<footer>
		<ul id="social">
			<li>
		 	<a id="codeacademy" href="http://www.codeacademy.org/">Code Academy</a>
		 	</li>
		 	<li>
		 	<a id="builtinchicago" href="http://www.builtinchicago.org/">Built In Chicago</a>
		 	</li>
		 	<li>
		 	<a id="twitter" href="https://twitter.com/#!/datetracks">Twitter</a>
		 	</li>
		 	<li>
		 	<a id="email" href="mailto:designhawg@mac.com?Subject=I%20want%20to%20know%20more%20about%20DateTracks!">email</a>
		 	</li>
		</ul>
		
		<p id="corp_id">2012, DateTracks, LLC</p>
	</footer>
</body>
</html>
